spring:
  profiles:
    active: local

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  expiration-seconds: ${JWT_EXPIRATION_SECONDS:3600}

cookie:
  secure: ${COOKIE_SECURE:false}

springdoc:
  swagger-ui:
    withCredentials: true